.profile__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 2.525rem;
  line-height: 114%;
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .profile__title {
    font-size: 1.525rem;
  }
}
@media screen and (max-width: 320px) {
  .profile__title {
    font-size: 1.687rem;
    line-height: 122%;
    text-align: end;
    margin-right: 10px;
    margin-top: 22.25px;
  }
}
