.element__vector-like {
  margin-top: 22px;
  margin-right: 30px;
}
.element__vector-like:hover {
  opacity: 0.5;
}
.element__vector-like:active {
  background: url(../../../image/Union.svg);

  opacity: 1;
}
