.form__submit {
  background: #000000;
  border-radius: 2px;
  margin: 0 36px;
  margin-bottom: 37px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 122%;
  text-align: center;

  max-height: 50px;

  color: #ffffff;

  padding: 14px 0 18px 0;
}
.form__submit:hover {
  opacity: 0.8;
}
@media screen and (max-width: 550px) {
  .form__submit {
    margin-left: 22px;
    margin-right: 22px;
    max-height: 46px;
    margin-bottom: 25px;
    padding: 14px 0 14px 0;
    font-size: 0.875rem;
  }
}
